# PhpStorm project files
.idea

# Composer vendor dir
/vendor

# Composer itself is not needed
composer.phar

# composer.lock in applications is ignored since it's automatically created by composer when application is installed
composer.lock
